<div class="offcanvas offcanvas-bottom custom-offcanvas-height px-5 py-3" tabindex="-1" id="detailsOffcanvas" aria-labelledby="detailsOffcanvasLabel">
  <div class="d-flex align-items-center justify-content-between mt-4">
    <h4>{{selectedData?.groupName}} Details</h4>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="d-flex align-items-center mt-2">
    <h5>{{ selectedData?.date | date: 'MMMM d, y' }}</h5>
    <span class="mx-3 mb-2">|</span>
    <h5>{{ selectedData?.label }}</h5>
  </div>
  
  <div class="mt-4">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="text-success">Producers:</h4>

        <div *ngFor="let item of flowsMembers" class="my-4">
          <div *ngIf="item?.flowType === 'inflow'">
        <div class="d-flex align-items-center justify-content-between my-3">
          <h6 class="text-muted">Name</h6>
          <span>{{ item?.name }}</span>
        </div>

        <div class="d-flex align-items-center justify-content-between my-3">
          <h6 class="text-muted">Inflow Value</h6>
          <span>{{ item?.value }}</span>
        </div>
      </div>
      </div>
      </div>

      <div class="col-12 col-md-6">
        <h4 class="text-danger">Consumers:</h4>

        <div *ngFor="let item of flowsMembers" class="my-4">
          <div *ngIf="item?.flowType === 'outflow'">
        <div class="d-flex justify-content-between my-3">
          <h6 class="text-muted">Name</h6>
          <span>{{ item?.name }}</span>
        </div>

        <div class="d-flex justify-content-between my-3">
          <h6 class="text-muted">Outflow Value</h6>
          <span>{{ item?.value }}</span>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12 py-3">
      <div class="row">
        <div class="text-start mt-4 px-5 mb-5">
          <div class="d-flex align-items-center justify-content-between">
          <h3>Hourly Energy Imbalance</h3>
            <div class="d-flex align-items-center">
              <i (click)="subtractOneDay()" class="fa-solid fa-chevron-left p-3" style="font-size: 20px" *ngIf="!emptyStateDate"></i>
              <div *ngIf="date">
                <h5 class="pt-1">{{date | date: 'MMMM d, y'}}</h5>
              </div>
              <i (click)="addOneDay()" class="fa-solid fa-chevron-right p-3" style="font-size: 20px"></i>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-lightbulb text-warning"></i>
          <h6 class="pt-2 mx-2">Try zooming in and out on the chart to explore hourly detailed data.</h6>
          </div>
          <div *ngIf="emptyState" class="mt-5">
            <p>No data available for the selected date.</p>
          </div>

        </div>
      </div>
      <div *ngIf="!emptyState" class="chart-container">
        <canvas baseChart
          [data]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [type]="lineChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>



