<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 ">
      <div class="row">
        <div class="d-flex col-10 align-items-center">
          <h4>Hello World</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="getBalancingCircles('2024-10-14')">
    <span>select</span>
</button> -->

<div class="chart-container" style="position: relative; height: 60vh; width: 100%;">
 <canvas baseChart
   [data]="lineChartData"
   [labels]="lineChartLabels"
   [options]="lineChartOptions"
   [legend]="lineChartLegend"
   [type]="lineChartType">
 </canvas>
</div>

