/* Global font configuration */
@font-face {
    font-family: 'Outfit';
    src: url('src/assets/Outfit/static/Outfit-Medium.ttf');
}

@font-face {
    font-family: 'Outfit Light';
    src: url('src/assets/Outfit/static/Outfit-Light.ttf');
}

@font-face {
    font-family: 'Outfit Regular';
    src: url('src/assets/Outfit/static/Outfit-Regular.ttf');
}

body {
    font-family: 'Outfit', sans-serif; /* sans-serif for fallback */
}

h1, h2, h3, h4, p, a, span, div {
    font-family: 'Outfit', sans-serif;
}

h6, h5 {
    font-family: 'Outfit Light', sans-serif;
}